body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    text-align: justify;
  }
  
  p{
    font-family: RobotoSlab, Helvetica, sans-serif;
    font-size: 17px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }

  .nave{
      background-color: orange;
      margin-top: -25px;
      margin-left: -25px;
      margin-right: -25px;
  }

  .simulador{
    text-align: center;
  }

  .simulador_v1 {
    display: block;
    box-sizing: border-box;
}

  .painel{
      padding-left: 10px;
  }


  @font-face{
    font-family: RobotoSlab;
    src: url(../_fonts/RobotoSlab.ttf);
  }


  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

  .fadeIn {
    -webkit-animation: fadeIn 2s ease-in-out;
    -moz-animation: fadeIn 2s ease-in-out;
    -o-animation: fadeIn 2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
  }

  .text-center .img-responsive {
    margin: 0 auto;
  }